*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 7.2fr ;
    grid-template-areas: 
        "welcome welcome"
        "form-side book-list";
        column-gap: 10px;
    row-gap: 10px;
}

div.main-title{
    grid-area: welcome;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e2e8f0;
    border-radius: 7px;
}

div.left-form{
    grid-area: form-side;
    background-color: #151616;
}

div.right-library{
    grid-area: book-list;
    display: grid;
    grid-template-rows: 0.7fr 6fr;
    grid-template-areas: 
        "title"
        "books";
    background-color:#e2e8f0;
    border-radius: 7px;
}

div.tittle{
    grid-area: title;
    display: flex;
}

div.books-library{
    grid-area: books;
    overflow-y: auto;
    max-height: 428px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, minmax(270px, 270px));
    column-gap: 10px;
    row-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

div.books-library div{
    display: grid;
    align-items: center;
    background-color:#fff;
    border-radius: 10px;
    padding: 5px;
}


.form-card{
    max-width: 350px;
    width: 100%;
    background-color:#e2e8f0;
    border-radius: 7px;
}
.form-card .tittle {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form-card .tittle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 20px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

.right-library .tittle {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}


.container form .book-details{
    display: flex;
    flex-wrap: wrap; /* placed the labels and the inputs in 2 columnns*/
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .book-details .input-box{
    margin-left: 20px;
    margin-bottom: 10px;
}

.book-details .input-box .datail{
    display: block; /* gave the space between the lables and the inputs*/
    font-weight: 500;
    margin-bottom: 5px;
}

.book-details .input-box input{
    height: 30px;
    width: 300px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 17px;
    padding-left: 8px;
    font-size: 14px;
    color: rgb(139, 139, 139);
    border-bottom-width: 2px;
    transition: all 0.3s ease; /* Nice stuff!! time it takes the border of the input to pop-up*/
}

.book-details .input-box input:focus{
    border-color: #9b59b6;
}

form .button{
    height: 50px;
    margin: 10px 0;
}

form .button input{
    height: 80%;
    width: 40%;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin-left: 20px;
}

form .button input:hover{
    background:  linear-gradient(135deg, #9b59b6, #71b7e6);
    transform: rotate(360deg);
    transform: scale(1.01);
}


div.check-box{
    margin-left: 100px;
}

div button{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: #fff;
    font-weight: bolder;
}

button.delete-btn:hover{
    background: red;
    color: #fff;
}

button.status-btn:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
}

div.top{
    color: rgb(110, 109, 109);
    font-size: 14px;
    padding-bottom: 0px;
}

